<!DOCTYPE html>
<html>
<head>
	<title>Tic Tac Toe</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="back row valign-wrapper" style="height: 500px;">
		<div class="play col s12">
			<div class="col s5 center-align" style="margin: 0 auto !important; float: none;">
					<div class="msg">
					</div>
                   <h4>Please Enter your name</h4>

				<form id="myForm" class="" action="/start" name="myForm" method="post">
					<div class="form-group">
						<div class="col s10">
							<input type="text" required autocomplete="off" autofocus id="name" name="name" class="form-control" placeholder=" Enter Your Name" class="feild" required >
						</div>
						<div class="col s2">
							<button class="btn-floating btn-large waves-effect waves-light" type="submit"><i class="material-icons">send</i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>

<script>

let winner = localStorage.getItem('winner');

if (winner) {
	$(".msg").html(`<h4>Wow! Well Played</h4>`);
	localStorage.removeItem('winner');
	setTimeout(() => $(".msg").remove(), 3000);
}

</script>
</body>
</html>